.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
}

.sidebar{

}

.main_content{

}

.main_category_view{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.main_category_title{
    margin-left: 5px;
}

.products{
    margin-top: 10px;
}

.main_category_image{
    width: 16px;
    height: 16px;
}