{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EleDev</title>
    <link href="{% static 'css/base_style.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="header-content">
        <!-- блок для логотипа -->
        <div class="logo">
            EleDev
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Искать здесь...">
                <button type="submit"></button>
            </form>
        </div>
        <div class="cart">
            CART
        </div>
        <div class="user">
            USER
        </div>
    </div>
</header>
<div class="block-content">

</div>
<footer>
    <div class="footer-content">
        footer
    </div>
</footer>
</body>
</html>